@{
    ViewData["Title"] = "Home Page";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="m-0 font-weight-bold text-primary">
            <h1 class="display-4 m-0 font-weight-bold text-primary">Welcome to CriticGPT</h1>
        </div>
    </div>
    <div class="card-body">
        <p class="text-center">Welcome to CriticGPT, your go-to platform for generating insightful movie reviews, managing actor and movie data, and analyzing sentiments with ease.</p>
        <p class="text-center">Explore the features:</p>
        <ul class="list-unstyled">
            <li class="text-primary"><strong>Movie Management</strong>: Add, edit, and delete Movie records.</li>
            <li class="text-primary"><strong>Actor Profiles</strong>:  Add, edit, and delete Actor records.</li>
            <li class="text-primary"><strong>Starring</strong>: Manage the Actors starring in their corresponding Movies.</li>
            <li class="text-primary"><strong>Review Generation</strong>: Automatically generate reviews using the generative AI from OpenAI.</li>
            <li class="text-primary"><strong>Sentiment Analysis</strong>: Analyze the sentiment of reviews using VaderSharp 2.</li>
        </ul>
        <p class="mt-3 text-center">Learn more about building Web apps with <a href="https://learn.microsoft.com/aspnet/core" class="text-primary">ASP.NET Core</a>.</p>
    </div>
</div>
